matmor_exams/.Rhistory

2013/retake24_01_14/mfe_retake.pdf.zip

*.toc
*.bcf
*.blg
*.tdo
*.run.xml
*.aux
*.log
*.synctex.gz
*.bbl
*.ps
*.dvi
*.xdv
*.log
*.out
*.idx
*.fdb_latexmk
*.fls
*.doc#
*-cache.yaml

2013/march_mock/26march_mock.zip
2013/march_mock/_region_.prv/tmp7160NuS/preview.dsc
2013/march_mock/_region_.tex
2013/mor_exam_23_may/mor_exam_23_may.pdf.zip


2014/qms/qms.tex
2014/qms/qms.synctex.gz
2014/qms/qms.pdf

2014/mock_mfe/mfe_14_mock.pdf.zip
2014/mock_mfe/mfe_14_mock 2.pdf
linal2014/final.pdf
linal2014/midterm.pdf
linal2014/homeworks.pdf
2014/fall_exam/f14ex.zip

2014/fall_retake/fall_2014_retake.tex
2014/fall_retake/fall_2014_retake.pdf

*.gz

matmor_exams/matmor_exams-concordance.tex
matmor_exams/figure/unnamed-chunk-1-1.pdf

2015/fall_exam/fall_2015_v3.zip
2015/final_exam/final_16.zip
2015/lec_01_matrix_lp.mov
2015/optimization_notes/Sundaram R.K.-A first course in optimization theory-CUP (1996).djvu
2016/mock_mfe/mock_2016.zip
mor_posobie/sols_all.tex
