
mor_posobie/mor_bank.log

matmor_exams/.Rhistory

mor_posobie/mor_posobie.aux

mor_posobie/mor_posobie.idx

mor_posobie/mor_posobie.log

mor_posobie/mor_posobie.out

mor_posobie/mor_posobie.synctex.gz

mor_posobie/mor_posobie.toc

2013/retake24_01_14/mfe_retake.aux

2013/retake24_01_14/mfe_retake.log

2013/retake24_01_14/mfe_retake.pdf.zip

2013/retake24_01_14/mfe_retake.synctex.gz

2013/mark_dec_13/mark_sch_13.synctex.gz

2013/mark_dec_13/mark_sch_13.out

2013/mark_dec_13/mark_sch_13.log

2013/mark_dec_13/mark_sch_13.aux

2013/dec2013/dec2013.synctex.gz

2013/dec2013/dec2013.log

2013/dec2013/dec2013.fdb_latexmk

2013/dec2013/dec2013.aux

*.bcf

*.blg

*.tdo

mor_posobie/mor_posobie.run.xml

*.png

*.aux

*.log

2013/hts/hts.synctex.gz

*.bbl

*.ps

2013/march_mock/26march_mock.zip

2013/march_mock/_region_.prv/tmp7160NuS/preview.dsc

2013/march_mock/_region_.tex

2013/mor_exam_23_may/mor_exam_23_may.pdf.zip

2013/mor_exam_23_may/mor_exam_23_may.synctex.gz

2014/mor_retake.dvi

2014/mor_retake.synctex.gz

2014/mor_retake/mor_reretake.synctex.gz

2014/mor_retake/mor_retake.synctex.gz

2014/qms/qms.tex

2014/qms/qms.synctex.gz

2014/qms/qms.pdf

2014/mock_mfe/mfe_14_mock.synctex.gz

2014/mock_mfe/mfe_14_mock.pdf.zip

2014/mock_mfe/mfe_14_mock 2.pdf

linal2014/final.pdf

linal2014/midterm.pdf

linal2014/homeworks.pdf

2014/fall_exam/f14ex.zip

2014/fall_exam/fall_2014.synctex.gz
